{
  "presets": [
    [
      "@babel/preset-env", {
        "useBuiltIns": "entry",
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7","ie >= 7"],
          "node": "current"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["import",{
      "libraryName":"antd",
      "libraryDirectory": "es"
//      "style": "css"    //单独加载css
    }]
  ]
}