@import "../../sass/includes/settings";

.search-wrapper{
  .ant-form-item-label{width: auto}
  .ant-form-item-control-wrapper{display: inline-block;flex: 1 1}

  .ant-form-item{
    display: flex;
  }
}

.tableList :global{
  .tableListOperator{
    margin-bottom: 16px;
    button{margin-right: $w-xs;}
  }
}

.tableListForm :global {
  .ant-form-item .ant-form-item-control {
    line-height: 32px;
  }
  .submitButtons{margin-bottom: 24px;display: block;white-space: nowrap;}
}