@import "../../sass/includes/settings";
.numberInfo{
  .suffix{
    font-size: 1.6rem;font-style: normal;margin-left: 4px;
  }
  .numberInfoTitle{
    font-size: 1.6rem;margin-bottom: 16px;transition: all 0.3s;
  }
  .numberInfoSubTitle{
    color: $color-gray-9;font-size: 1.4rem;height: 22px;line-height: 22px;overflow: hidden;text-overflow: ellipsis;
    white-space: nowrap;word-break: break-all;
  }
  .numberInfoValue{
    margin-top: 4px;font-size: 0;
    & > span{
      display: inline-block;font-size: 2.4rem;line-height: 32px;height: 32px;margin-right: 32px;
      color: $color-gray-3;
    }
    .subTotal{
      font-size: 1.6rem;vertical-align: top;margin-right: 0;
      i{font-size: 1.2rem;margin-left: 4px;transform: scale(0.8)}
      .anticon-caret-up{color: $color-red-f00;}
      .anticon-caret-down{color: $color-green-6;}
    }
  }

}