@import "../includes/settings";

#root, body, html{height: 100%;}
#root{overflow-x: hidden;}

.main {
  margin: 10px 10px 0;
}

.nav-tab{
  border-bottom: 1px  solid $color-gray-9;line-height: 40px;margin-bottom: 10px;
  a,span{display: inline-block;padding: 5px 20px;color: #000000;font-size: 1.6rem;cursor: pointer;
    &.active{color: $color-orange-e6a;}
  }
}
.avatar,.avatar img{width: 24px;height: 24px;vertical-align: middle;margin-right: 5px;display: inline-block;}
.lists{
  li{line-height: 30px;border-bottom: 1px dashed $color-gray-f6;margin-bottom: 10px;padding-bottom: 10px;}
  img{width: 24px;height: 24px;vertical-align: middle;margin-right: 5px;}
  a{
    &:hover{color: $color-orange-e6a;}
  }
}
.list{
  ul{
    margin-left: -3.3%;padding-top: 20px;
    li{
      width: 30%;margin-left: 3.3%;float: left;
      padding:0 0 20px 0;
      img{width: 100%}
      p{
        //padding: 8px 0;height: 48px;
      }
      a:hover{color: $color-orange-e6a;}
    }
  }
}

.panel-list{
  margin-top: 1rem;box-shadow: 0 0 1px  $color-gray-9;
  .tit{
    background-color: $color-gray-f6;padding: 0 1rem;line-height: 3rem;
  }
  ul{
    li{
      padding:10px 10px;border-bottom: 1px solid $color-gray-f6;
      time{float: right;color: $color-gray-c;}
    }
    a{
      &:hover{color: $color-orange-e6a;}
    }
  }
}

.list-footer{
  text-align: center;line-height: 4rem;
}
.form-list{
  .anticon{color:rgba(0, 0, 0, 0.25);}
}
.form{
  input{border: 1px solid $color-gray-c;padding: 0 10px;}
}
.zoomImage{
  width:100%;
  height:0;
  padding-bottom: 100%;
  overflow:hidden;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
}

.layout-sider{
  position: absolute;
  z-index: 10;
  left: 0px;
  top: 0px;
  width: 200px;
  background-color: #001529;
  float: left;
  overflow: auto;
  height: 100%;
  min-height: calc(100vh - 64px);
  padding-bottom: 2000px;
  margin-bottom: -2000px;
  &::-webkit-scrollbar{
    display: none;
  }
}
.layout{
  padding-left: 200px;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: $color-gray-f0;
  .layout-header{
    height: 64px;line-height: 64px;
    background-color: $color-gray-f6;
  }
  .layout-footer{
    text-align: center;
    background-color:$color-gray-f0;
  }
  .layout-content{
    padding: 10px;
    min-height: calc(100vh - 158px);
  }
}

